<template>
	<view class="content">
		<view class="prod-list" v-if="shopCarList.length>0">
			<checkbox-group @change="getShopSelect">
				<h3></h3>
				<dl v-for="item in shopCarList" :key="item.basketId" class="ShopCarItems">
					<label>
						<checkbox color="#105c3e" :value="item.basketId" :checked="item.itemChecked">
						</checkbox>
					</label>
					<dt class="dtt">
						<image class="imgs" :src="item.pic" />
					</dt>
					<dd>
						<p class="prod-name">{{item.prodName}}</p>
						<p class="prod-info-text">{{item.skuName}}</p>
						<view class="large-box">
							<view class=" price">
								<text class=" symbol">￥ {{item.price * item.prodCount}}</text>
							</view>
							<view class="m-numSelector">
								<view class="minus" @click="handleItem(-1,item)">-</view>
								<input type="number" :value="item.prodCount">
								<view class="plus" @click="handleItem(1,item)">+</view>
							</view>
						</view>
					</dd>
				</dl>
			</checkbox-group>
      <view class="calculations">
       <view>
          <checkbox color="#f00" :checked="allChecked" @click="handleAllChecked"></checkbox>
          全选
        </view>
        <text class="deteles" @click="onDelBasket">删除</text>
        <text>合计：￥ {{ finalMoney}}</text>
        <view class="buts" @click="toFirmOrder">结算</view>
      </view>
		</view>
		<view v-else>
			<view class="empty">
				<view class="img">
					<image src="@/static/tabbar/basket.png" alt="" />
				</view>
				<view class="txt">您还没有添加任何商品哦~</view>
			</view>
		</view>
	</view>
</template>

<script>
import { shopList, shopTotal, shopChangeItemData, deleteShopCar } from '@/service/shop'

export default {
	data() {
		return {
			shopCarList: [],  //数据
			selectData: [],   //选中数据
			finalMoney: 0,  //总价
			allChecked: false,  //全选
			shopName: '',
		}
	},
	onLoad() {
		this.shopcardata();
	},
	onShow(){
		this.shopcardata();
	},
	watch: {
		shopCarList: {
			handler(val) {
				const checks = val.filter(item => item.itemChecked).map(v => v.basketId);
				this.reduceSumPrice(checks);
			},
			deep: true
		}
	},
	methods: {
		async shopcardata() {
			const res = await shopList({})
			this.shopCarList = res[0].shopCartItemDiscounts[0].shopCartItems.map(val => ({ ...val, itemChecked: false }))
		    this.shopName = res.shopName;
		},
		// 跳转订单页面
		async toFirmOrder() {
			if (this.selectData.length === 0) {
				uni.showToast({
					title: '请选择商品',
					icon: 'none'
				})
				return;
			}
			this.$toPage({
				url: "/pages/Orderlist/list",
				query: {
					id: this.selectData,
					addrId:0
				}
			});
		},
		// 选中商品
		async getShopSelect({ detail: { value } }) {
			this.shopCarList.map((item) => {
				if (value.includes(`${item.basketId}`)) {
					item.itemChecked = true;
				} else {
					item.itemChecked = false;
				}
			})
			this.reduceSumPrice(value);
			this.selectData = value;
			// console.log(value,'value');
			this.allChecked = value.length === this.shopCarList.length
		},
		// 全选
		async handleAllChecked() {
			this.allChecked = !this.allChecked;
			this.shopCarList.map(item => {
				item.itemChecked = this.allChecked;
			})
			this.shopCarList.forEach(item => {
				this.selectData.push(item.basketId);
			})
		},
		// 计算总价
		async reduceSumPrice(checks) {
			const res = await shopTotal(checks);
			this.finalMoney = (res.finalMoney).toFixed(2);
		},
		// 购物车加加减减
		async handleItem(count, { prodId, shopId, skuId, basketId, prodCount }) {
			if (prodCount === 1 && count === -1) {
				return;
			}
			const res = await shopChangeItemData({
				count,
				prodId,
				shopId,
				skuId
			});
			const curItem = this.shopCarList.find(val => basketId === val.basketId);
			curItem.prodCount = curItem.prodCount + count;
		},
		// 删除商品
		async onDelBasket() {
			if (this.selectData.length === 0) {
				uni.showToast({
					title: '请选择商品',
					icon: 'none'
				})
				return;
			}
		// console.log(this.selectData,'this.selectData');	
			uni.showModal({
				content: '确定要删除选中的商品吗?',
				confirmColor: "#eb2444",
				
				success: async (res) => {
					if (res.confirm) {
						console.log(this.selectData,'确定');
             await deleteShopCar(this.selectData);
             this.shopcardata();
					} else if (res.cancel) {
						console.log('取消');
					}
				}
			});
		},
	}
}
</script>

<style>
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prod-list {
	width: 100%;
	background: #f8f8f8;
	margin-bottom: 20rpx;
}

.dtt {
	margin-right: 20rpx;
}

.imgs {
	width: 180rpx;
	height: 180rpx;
	display: inline-block;
	overflow: hidden;
}

.ShopCarItems {
	background: #fff;
	display: flex;
	align-items: center;
	padding: 20rpx;
}

.prod-name {
	font-size: 28rpx;
	color: #333;
	max-height: 72rpx;
	line-height: 36rpx;
	display: -webkit-box;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.prod-info-text {
	color: #999;
	display: inline-block;
	-webkit-line-clamp: 1;
	height: 48rpx;
	line-height: 48rpx;
	background: #f9f9f9;
	padding: 0 10rpx 0 10rpx;
	border-radius: 4rpx;
	margin: 10rpx 0 0rpx 0;
	overflow: hidden;
	font-size: 24rpx;
	position: relative;
	font-family: arial;
}

.price {
	width: 100%;
	font-family: Arial;
	display: inline-block;
	color: #eb2444;
	padding-bottom: 10rpx;
	padding-left: 10rpx;

}

.symbol {
	font-size: 24rpx;
}

.big-num {
	font-size: 32rpx;
}

.small-num {
	font-size: 24rpx;
}

.large-box {
	display: flex;
}

.m-numSelector {
	position: absolute;
	right: 20rpx;
	display: flex;
	width: 24%;
}

.m-numSelector .minus,
.m-numSelector .plus {
	position: relative;
	border: 1px solid #ccc;
	width: 56rpx;
	text-align: center;
	color: #333;
}

.m-numSelector .minus {
	border-right: 0;
	border-top-left-radius: 4rpx;
	border-bottom-left-radius: 4rpx;
}

.m-numSelector input {
	width: 56rpx;
	text-align: center;
	color: #333;
	font-size: 28rpx;
	border: 1px solid #ccc;
}

.calculations {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #ccc solid;
  
}
.deteles {
  color: red;
}
.buts {
  background: red;
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.empty {
	font-size: 28rpx;
	color: #666;
}

.empty .img {
	margin-top: 80rpx;
	text-align: center;
}

.empty .img image {
	width: 80rpx;
	height: 80rpx;
	display: inline-block;
	overflow: hidden;
}

.empty .txt {
	text-align: center;
	margin-top: 30rpx;
}
</style>
