<template>
  <view class="container">
    <view class="hotsale-item-cont">
      <!-- 渲染商品 加点击事件 跳详情 -->
      <view
        v-for="(item, index) in list"
        :key="index"
        class="prod-items"
        @click="goDetail(item.prodId)"
      >
        <view class="hot-imagecont">
          <image :src="item.pic" class="hotsaleimg"></image>
        </view>
        <view class="hot-text">
          <view class="hotprod-text">{{ item.prodName }}</view>
          <view class="prod-info">{{ item.brief }}</view>
          <view class="prod-text-info">
            <view class="price">
              <text class="symbol">￥</text>
              <text class="big-num">{{
                item.price.toFixed(2).split(".")[0]
              }}</text>
              <text class="small-num"
                >.{{ item.price.toFixed(2).split(".")[1] }}</text
              >
            </view>
          </view>
        </view>
      </view>
    </view>

    <p class="pp">暂无商品</p>
  </view>
</template>

<script>
import { requestData } from "../../service/my";
export default {
  name: `myCollection`,

  data() {
    return {
      list: [],
    };
  },

  onLoad() {
    this.requestData();
  },

  methods: {
    async requestData() {
      const res = await requestData({
        current: 1,
        size: 10,
      });
      this.list = res.records;
      // console.log(this.list);
    },
    //商品 跳详情
    async goDetail(id) {
      await this.$toPage({
        url: "/pages/detail/index",
        query: {
          id,
        },
      });
    },
  },
};
</script>

<style scoped>
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fafafa;
}

.prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  margin: 20rpx 10rpx 10rpx 20rpx;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.prod-items .hot-imagecont {
  font-size: 0;
  text-align: center;
}

.prod-items .hot-imagecont .hotsaleimg {
  width: 341rpx;
  height: 341rpx;
}

.prod-items .hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.prod-items .hot-text .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-info,
.more-prod .prod-text-right .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.small-num {
  font-size: 24rpx;
}
.prod-items .hot-text .prod-text-info .basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}

.pp {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28rpx;
  color: rgb(187, 187, 187);
}
</style>