<template>
    <view>
        <view class="container">
    <swiper
      class="swiper"
      circular
      :indicator-dots="true"
      :autoplay="true"
      :interval="3000"
      :duration="1000"
      indicator-active-color="#eb2444"
      indicator-color="#f2f2f2"
    >
      <swiper-item v-for="(val, index) in imgs" :key="index">
        <view class="swiper-item">
          <image
            :src="val"
            class="hotsaleimg"
            v-if="
              val !==
              'https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg'
            "
          />
          <view v-else class="hotsaleimg"></view>
        </view>
      </swiper-item>
    </swiper>
    <view class="prod-info">
      <view class="tit-wrap">
        <view class="prod-tit">{{ list.prodName }}</view>
        <view class="col" @click="collect">
          <view v-if="!flag">
            <img :src="coll" alt="" />
          </view>
          <view v-else>
            <img :src="colRed" alt="" />
          </view>
          <text>收藏</text>
        </view>
        <view class="sales-p">{{ list.brief }}</view>
        <view class="prod-price">
          <text class="price"
            >￥<text class="price-num">{{ list.price }}</text></text
          >
          <text class="sales"></text>
        </view>
      </view>
    </view>
    <!-- 规格 -->
    <view class="sku" @click="showSku">
      <view class="sku-tit">已选</view>
      <view class="sku-con"
        >{{ skuData.checkedProperty.join(",") }}
        {{ skuData.checkedCount }}件,</view
      >
      <view class="more">...</view>
    </view>
    <!-- 评价 -->
    <view class="cmt-wrap">
      <view class="cmt-tit" @click="showComment">
        <view class="cmt-t"
          >评价<text class="cmt-good"
            >好评率{{ commList.positiveRating }}%</text
          ></view
        >
        <view class="cmt-count">共0条<text class="cmt-more"></text></view>
      </view>
      <view class="cmt-cont">
        <view class="cmt-tag" @click="showComment">
          <text>全部({{ commList.number }})</text>
          <text>好评({{ commList.praiseNumber }})</text>
          <text>中评({{ commList.secondaryNumber }})</text>
          <text>差评({{ commList.negativeNumber }})</text>
          <text>有图({{ commList.picNumber }})</text>
        </view>
        <view class="cmt-items"></view>
      </view>
    </view>
    <!-- 富文本 -->
    <view class="prod-detail">
      <view>
        <view v-html="list.content"></view>
      </view>
    </view>
    <!-- 下面导航 -->
    <view class="cart-footer">
      <button class="btn icon" open-type="contact">
        <img src="../../static/icon/kefu.png" alt="" />客服
      </button>
      <view class="btn icon" @click="goShop">
        <img src="../../static/tabbar/basket.png" alt="" />购物车
        <view v-if="ShopLength > 0" class="badge badge-1">{{
          ShopLength
        }}</view>
      </view>

      <view class="btn cart" @click="showSku"><text>加入购物车</text></view>
      <view class="btn buy" @click="goBuy"><text>立即购买</text></view>
    </view>
    <!-- 规格弹框 -->
    <view class="pup-sku" v-if="flag1">
      <view class="pup-sku-main">
        <view class="pup-sku-header">
          <img
            :src="skuData.checkedPic"
            alt=""
            class="pup-sku-img"
            v-if="skuData.checkedPic"
          />
          <view class="pup-sku-box" v-else>
            <img
              class="pup-sku-img"
              style="margin-left: -10px; top: 0px"
              :src="list.pic"
            />
          </view>
          <view class="pup-sku-price" v-if="!disabled"
            >￥<text class="pup-sku-price-int">{{
              skuData.checkedPrice
            }}</text></view
          >
          <view class="pup-sku-price" v-else
            ><text class="pup-sku-price-int" style="font-size: 10px"
              >无货</text
            ></view
          >
          <view class="pup-sku-prop"
            ><text>已选</text>{{ skuData.checkedProperty.join(",") }}
            {{ skuData.checkedCount }}件</view
          >
          <view class="close" @click="closePopup">X</view>
        </view>
        <!-- 动态渲染propertyies -->
        <view class="pup-sku-body" v-if="skuData.propertyies.length">
          <view
            class="pup-sku-area"
            v-for="(val, i) in skuData.propertyies"
            :key="i"
          >
            <view class="sku-kind">{{ val.title }}</view>
            <view class="sku-choose">
              <text
                class="sku-choose-item"
                v-for="(v, index) in val.items"
                :key="index"
                :class="[
                  isShowActive({
                    typeIndex: i,
                    itemName: v,
                  }),
                ]"
                @click="
                  hanldeItems({
                    typeIndex: i,
                    itemName: v,
                  })
                "
                >{{ v }}</text
              >
            </view>
          </view>
        </view>
        <view class="pup-sku-count">
          <view class="num-wrap">
            <view class="minus" @click="handleChangeCount(-1)">
              <text class="row"></text>
            </view>
            <view class="text-wrap">
              <span>{{ skuData.checkedCount }}</span>
            </view>
            <view class="plus" @click="handleChangeCount(1)">
              <text class="row"></text>
              <text class="col"></text>
            </view>
          </view>
          <view class="count-name">数量</view>
        </view>
        <view class="pup-sku-footer">
          <view
            class="addBtn"
            :class="{
              disabled,
            }"
            @click="addShop"
            >加入购物车</view
          >
          <view
            class="buyBtn"
            :class="{
              disabled,
            }"
            @click="goBuy"
            >立即购买</view
          >
        </view>
      </view>
    </view>
    <!-- 评价弹框 -->
    <view class="cmt-popup" v-if="flag2">
      <view class="cmt-tit">
        <view class="cmt-t">
          商品评价
          <text class="cmt-good">好评度{{ commList.positiveRating }}%</text>
        </view>
        <text class="close" @click="closePopup1">X</text>
      </view>
      <view class="cmt-cont">
        <view class="cmt-tag">
          <text
            @click="getProdCommPage"
            data-evaluate="-1"
            :class="evaluate == -1 ? 'selected' : ''"
            >全部({{ commList.number }})</text
          >
          <text
            @click="getProdCommPage"
            data-evaluate="0"
            :class="evaluate == 0 ? 'selected' : ''"
            >好评({{ commList.praiseNumber }})</text
          >
          <text
            @click="getProdCommPage"
            data-evaluate="1"
            :class="evaluate == 1 ? 'selected' : ''"
            >中评({{ commList.secondaryNumber }})</text
          >
          <text
            @click="getProdCommPage"
            data-evaluate="2"
            :class="evaluate == 2 ? 'selected' : ''"
            >差评({{ commList.negativeNumber }})</text
          >
          <text
            @click="getProdCommPage"
            data-evaluate="3"
            :class="evaluate == 3 ? 'selected' : ''"
            >有图({{ commList.picNumber }})</text
          >
        </view>
        <view class="cmt-items"></view>
      </view>
    </view>
  </view>
      
    </view>
</template>

<script>
import "./index.css"
import {
    requestDetail,
    requestCol,
    requestComm,
    requestIsColl,
} from "../../service/details";
import { shopCountData, shopChangeItemData } from "../../service/shop";
export default {
  data() {
    return {
      Id: "",
      list: [],
      imgs: [], //轮播图
      coll: "../../static/icon/prod-col.png",
      colRed: "../../static/icon/prod-col-red.png",
      flag: false, //收藏
      loading: "loading",
      skuData: {
        checkedPic: "",
        checkedPrice: 0,
        checkedProperty: [], // [] 默认是skuList数组第一项 选中状态
        checkedCount: 1,
        propertyies: [],
      },
      disabled: false, //已选
      commList: [], //评价
      flag1: false, //已选
      flag2: false, //评价
      ShopLength: "", //购物车数量
      evaluate: -1, //评价下标
    };
  },
  onLoad(options) {
    this.Id = options.id;
    this.DeatilList();
    this.Comm();
  },
  onShow() {
    this.ShopBadge();
  },
  watch: {
    // 监听选中属性变化，重新计算价格和图片
    "skuData.checkedProperty"(val) {
      const curItem = this.findCurItem(val);
      // 修改价格和图片
      this.skuData.checkedPrice = curItem?.price;
      this.skuData.checkedPic = curItem?.pic;
    },
    //监听徽标变化
    ShopLength(val) {
      // console.log(val);
    },
  },
  methods: {
    // 格式化html
    formatHTML(htmlStr) {
      return htmlStr.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g, "");
    },
    // 详情页数据
    async DeatilList() {
      const res = await requestDetail({
        prodId: this.Id,
      });
      console.log("res----", res);
      this.list = res;
      this.list.content = this.formatHTML(res.content);
      // 轮播图
      const imgs = res.imgs.split(",");
      this.imgs = imgs;
      // 格式化sku数据
      this.formatSKU(res.skuList);
      this.isCollect();
    },
    // 格式化sku数据
    formatSKU(data) {
      if (data.length >= 1) {
        const { properties, skuName } = data[0];
        // skuName 换修无忧版 深空灰色 64GB
        // properties  版本:换修无忧版;颜色:深空灰色;内存:64GB 
        
        this.skuData.checkedProperty = skuName.split(/\s/); // 默认选择第一个
        if (properties) {
          // 处理规格
          // [{title:'版本',items:['']},{title:'颜色',items:['']}，{title:'内存',items:['']}]
          this.skuData.propertyies = properties.split(";").map((item, i) => {
            const [title] = item.split(":");
            const items = [
              //处理item 去重
              ...new Set(data.map(({ skuName }) => skuName.split(/\s/)[i])),
            ];
            return {
              title,  //规格标题
              items,  //规格分类
            };
          });
        }
      }
     
    },
    // 判断当前是不是选中属性
    isShowActive({ typeIndex, itemName }) {
      // console.log( typeIndex, itemName );
      // 9  // 0 换修无忧版 0 原厂延保版 0 公开版
      // 1 深空灰 1  金色1 映射
      const checkPro = [...this.skuData.checkedProperty]; //重新定义选中商品属性
      // console.log('checkPro------',checkPro);
      checkPro[typeIndex] = itemName;
      let flag = "";
      this.skuData.checkedProperty.forEach((item, index) => { // 9个按钮 循环遍历9次
        if (typeIndex === index && itemName === item) {
          // 先判断选中的属性中和下标一致的规格，在判断选中的规格名称商品有库存的高亮
          flag = "active";
        }
      }); 
      // 没有库存的规格按钮显示禁用状态
      flag = this.findCurItem(checkPro) ? flag : flag + " disabled";
      return flag;
    },
    // 从所有的skuList数据中，查找当前选中商品属性是否存在
    findCurItem(checks) {
      return this.list.skuList.find(
        ({ skuName }) => checks.join(" ") === skuName
      );
    },
    // 点击商品规格按钮
    hanldeItems({ typeIndex, itemName }) {
      this.disabled =
        this.isShowActive({ typeIndex, itemName }).trim() === "disabled";
      let { checkedProperty } = this.skuData;
      checkedProperty[typeIndex] = itemName;
      this.skuData.checkedProperty = [...checkedProperty];
    },

    // 收藏
    async collect() {
      uni.showToast({
        mask: true,
        icon: "loading",
        duration: 100,
      });
      this.flag = !this.flag;
      const res = await requestCol(this.Id);
    },
    async isCollect() {
      const like = await requestIsColl({ prodId: this.Id });
      // console.log("likedfgsdfgv----", like);
      this.flag = typeof like === "boolean" ? like : like?.data;
      // console.log("lile----", this.flag);
    },
    // 打开已选弹框
    async showSku() {
      this.flag1 = !this.flag1;
    },
    // 关闭已选弹框
    async closePopup() {
      this.flag1 = !this.flag1;
    },
    // 打开评论
    async showComment() {
      this.flag2 = !this.flag2;
    },
    // 关闭评论
    async closePopup1() {
      this.flag2 = !this.flag2;
    },
    // 评价
    async Comm() {
      const res = await requestComm({
        prodId: this.Id,
      });
      this.commList = res;
    },
    // 徽标
    async ShopBadge() {
      const res = await shopCountData();
      this.ShopLength = res;
    },
    // 点击购物车跳转页面
    async goShop() {
      await this.$toPage({
        url: "/pages/shopCar/index",
        tabbar: true,
      });
     
    },
    // 立即购买 到我的订单
    async goBuy() {
       await this.$toPage({
        url: "/pages/placeOrder/index",
        query: {
          prodId: this.list.prodId,
          skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
          prodCount: this.skuData.checkedCount,
          shopId: this.list.shopId,
          type: "goodsDetails",
        },
      });
    },
    // 点击加入购物车
    addShop() {
      
      // 按钮禁用
      if (this.disabled === true) {
        return;
      }
      const res =  shopChangeItemData({
        basketId: 0,
        count: this.skuData.checkedCount,
        prodId: this.list.prodId,
        shopId: this.list.shopId,
        skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
      });
      //  console.log(res,"res");
<<<<<<< HEAD
      uni.showToast({
          title: "加入购物车成功",
          duration: 400,
          icon: "none",
        });
=======
>>>>>>> dev_zh
      if (res.statusCode === 200) {
        uni.showToast({
          title: "加入购物车成功",
          duration: 400,
          icon: "none",
        });
        this.ShopBadge();
      } else {
        uni.showToast({
          title: res,
          duration: 400,
          icon: "none",
        });
      }  
    },
    // 评论
    getProdCommPage(e) {
      console.log(e.currentTarget.dataset.evaluate);
      this.evaluate = e.currentTarget.dataset.evaluate;
    },
    // 数量加减
    handleChangeCount(flag) {
      if (flag === -1 && this.skuData.checkedCount === 1) return;
      this.skuData.checkedCount = this.skuData.checkedCount + flag;
    },
  },
};
</script>

<style>

</style>