.container {
    height: auto;
    padding-bottom: 150rpx;
    background-color: #f5f6f7;
}

.swiper {
    height: 700rpx;
    width: 100%;
    border-bottom: 2rpx solid #f8f8f8;
}

.swiper image {
    height: 750rpx;
    width: 100%;
}

.prod-info {
    padding: 30rpx 30rpx 0 30rpx;
    position: relative;
    background: #fff;
}

.tit-wrap {
    position: relative;
    line-height: 40rpx;
    padding-right: 104rpx;
}

.prod-tit {
    font-size: 32rpx;
    color: #333;
    padding-right: 20rpx;
}

.tit-wrap .col {
    position: absolute;
    top: 0;
    right: 0;
    width: 80rpx;
    color: #666;
    font-size: 20rpx;
    padding-left: 20rpx;
    text-align: center;
    border-left: 1px solid rgb(241, 241, 241);
}

.tit-wrap .col image {
    display: block;
    margin: auto;
    width: 40rpx;
    height: 40rpx;
}

.sales-p {
    background: #fff;
    line-height: 40rpx;
    color: #999;
    font-size: 24rpx;
    margin-top: 6rpx;
    margin-right: 104rpx;
}

.prod-price {
    font-size: 30rpx;
    height: 100rpx;
    line-height: 100rpx;
}

.price {
    color: #eb2444;
    font-size: 24rpx;
    font-weight: 600;
    margin-right: 50rpx;
    font-family: Arial;
    display: inline-block;
    padding-bottom: 10rpx;
    padding-left: 10rpx;
}

.price-num {
    font-size: 46rpx;
    font-weight: 400;
}

.sales {
    color: #999;
}

.sku {
    padding: 20rpx;
    background: #fff;
    margin-top: 20rpx;
    position: relative;
    line-height: 48rpx;
}

.sku-tit {
    position: absolute;
    display: inline-block;
    width: 60rpx;
    left: 20rpx;
    font-size: 22rpx;
    top: 20rpx;
    color: #999;
}

.sku-con {
    margin: 0 80rpx;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 28rpx;
    font-weight: bold;
}

.more {
    position: absolute;
    right: 20rpx;
    width: 60rpx;
    top: 10rpx;
    text-align: right;
    font-size: 40rpx;
    color: #999;
    letter-spacing: 1px;
}

.cmt-wrap {
    background: #fff;
    margin-top: 20rpx;
    position: relative;
    line-height: 48rpx;
}

.cmt-tit {
    font-size: 32rpx;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 20rpx;
}

.cmt-t {
    width: 300rpx;
}

.cmt-good {
    color: #eb2444;
    font-size: 24rpx;
}

.cmt-count {
    position: absolute;
    right: 20rpx;
    top: 20rpx;
    font-size: 24rpx;
    color: #666;
}

.cmt-more {
    width: 20rpx;
    height: 20rpx;
    border-top: 2rpx solid #999;
    border-right: 2rpx solid #999;
    transform: rotate(45deg);
    margin-left: 10rpx;
    display: inline-block;
}

.cmt-cont {
    padding: 0 20rpx;
}

.cmt-tag {
    position: relative;
    padding: 14px 3px 0 0;
    margin: 0;
}

.cmt-tag text {
    margin: 0 10px 10px 0;
    background: #fdf0f0;
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px;
    line-height: 25px;
    font-size: 12px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
}

.prod-detail {
    background: #fff;
    margin-top: 20rpx;
    position: relative;
    line-height: 48rpx;
}

.cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row nowrap;
    height: 98rpx;
    z-index: 999;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.06);
}

.cart-footer .btn.icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 125rpx;
    font-size: 20rpx;
    color: #666;
}

.cart-footer .btn {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 0;
    background-color: #fff;
    font-size: 28rpx;
    flex-flow: column;
}

button.btn {
    border: none;
    border-radius: 0;
    line-height: 1;
}

button {
    /* position: relative; */
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    /* font-size: 18px; */
    text-align: center;
    text-decoration: none;
    /* line-height: 2.55555556; */
    /* border-radius: 5px; */
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    /* color: #000000; */
    /* background-color: #F8F8F8; */
}

.cart-footer .btn.icon image {
    width: 50rpx;
    height: 50rpx;
}

.cart-footer img {
    display: inline-block;
    overflow: hidden;
}

.cart-footer .btn .badge-1 {
    width: 36rpx;
}

.cart-footer .btn .badge {
    position: absolute;
    top: 20rpx;
    left: 62rpx;
    display: inline-block;
    /* width: 28rpx; */
    height: 28rpx;
    border-radius: 14rpx;
    background-color: #eb2444;
    text-align: center;
    line-height: 28rpx;
    font-size: 18rpx;
    color: #fff;
}

.cart-footer .btn.cart {
    bottom: 0px;
    background: #584e61;
    color: #fff;
}

.cart-footer .btn.buy {
    background: #eb2444;
    color: #fff;
}

.pup-sku {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.pup-sku-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 375px;
    max-height: 475px;
    background-color: #fff;
}

.pup-sku-header {
    position: relative;
    line-height: 46px;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
    height: 70px;
    padding: 0 0 10px 110px;
    background-color: #fff;
}

.pup-sku-img {
    position: absolute;
    left: 10px;
    top: -20px;
    border-radius: 2px;
    width: 90px;
    height: 90px;
    border: 0 none;
    vertical-align: top;
}
.pup-sku-box{
    position: absolute;
    left: 10px;
    top: -20px;
    border-radius: 2px;
    width: 90px;
    height: 90px;
    border: 0 none;
    vertical-align: top;
    background-color: #ccc;
}
.pup-sku-price {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #e4393c;
    font-size: 10px;
}

.pup-sku-price-int {
    font-size: 16px;
}

.pup-sku-prop {
    word-break: break-all;
    font-size: 12px;
    color: #333;
    line-height: 1.4em;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pup-sku-prop text {
    color: #999;
    margin-right: 5px;
}

.pup-sku-body {
    box-sizing: border-box;
    max-height: 379px;
    overflow: auto;
}

.pup-sku-area .sku-kind {
    font-size: 12px;
    color: #999;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
}

.pup-sku-area .sku-choose {
    overflow: hidden;
    margin-bottom: 3px;
}

.sku-choose-item {
    display: inline-block;
    padding: 0 10px;
    min-width: 20px;
    max-width: 270px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #333;
    background-color: #f7f7f7;
    font-size: 14px;
    border: 1px solid #aaa;
}

.sku-choose-item.active {
    background-color: #eb2444;
    border: 1px solid #eb2444;
    color: #fff;
    clear: both;
}

.disabled {
    background-color: #f7f7f7;
    /* color: #fff; */
    border-style: dashed;
}

.pup-sku-count {
    padding: 0 10px 13px;
    font-size: 12px;
    color: #999;
    padding-bottom: 100px;

}

.pup-sku-count .num-wrap {
    position: relative;
    z-index: 0;
    width: 110px;
    float: right;
    vertical-align: middle;
    display: flex;
}

.num-wrap .minus {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.num-wrap .minus,
.num-wrap .plus {
    position: relative;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
    text-align: center;
}

.num-wrap .row {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -1px;
    width: 14px;
    height: 2px;
    background-color: #ccc;
}

.pup-sku-count .text-wrap {
    position: relative;
    width: 45px;
    z-index: 0;
    margin: 0 1px;
}

.pup-sku-count .text-wrap span {
    height: 30px;
    width: 100%;
    display: inline-block;
    color: #333;
    background: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: none;
    background: #f7f7f7;
}

.num-wrap .plus {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.num-wrap .col {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    margin-top: -7px;
    width: 2px;
    height: 14px;
    background-color: #999;
}

.pup-sku-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row nowrap;
    height: 98rpx;
    z-index: 999;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.pup-sku-footer button {
    flex: 1;
}

.close {
    color: #aaa;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
    top: 10px;
    right: 10px;
    position: absolute;
}

.cmt-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: #fff;
    padding-bottom: 98rpx;
}

.cmt-tit {
    font-size: 32rpx;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 20rpx;
}

.cmt-popup .cmt-cont {
    height: calc(100% - 80rpx);
    overflow: auto;
}

.cmt-cont {
    padding: 0 20rpx;
}

.cmt-tag {
    position: relative;
    padding: 14px 3px 0 0;
    margin: 0;
}

.cmt-tag text.selected {
    color: #fff;
    background: #e93b3d;
}

.cmt-tag text {
    margin: 0 10px 10px 0;
    /* background: #fdf0f0; */
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px;
    line-height: 25px;
    font-size: 12px;
    font-family: -apple-system, Helvetica, sans-serif;
    /* color: #666; */
}

.pup-sku-footer view.disabled {
    background: #ddd;
    color: #fff;
    border-style: solid !important;
}

.pup-sku-footer .addBtn {
    background: #584e61;
    color: #fff;
    border-radius: 0;
    border: 0;
    outline: none;
}

.pup-sku-footer .buyBtn {
    background: #eb2444;
    color: #fff;
    border-radius: 0;
    border: 0;
    outline: none;
}

.pup-sku-footer view {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 0;
    background-color: #fff;
    font-size: 28rpx;
    flex-flow: column;
}
.swiper-item{
    width: 100%;
    height: 100%;
}
.hotsaleimg  {
    width: 750rpx;
    height: 750rpx;
    background:url("../../static//image.png") ;
    background-size: 100%;
  }