<template>
  <view class="container">
    <!-- 搜索框 -->
    <view class="search-bar">
      <view class="search-box">
        <input
          type="text"
          placeholder="输入关键字搜索"
          v-model="prodName"
          class="sear-input"
          @confirm="handleDown($event.detail.value)"
        />
        <image src="@/static/icon/search.png" class="search-img"></image>
      </view>
      <text class="search-hint" @click="goBackIndex">取消</text>
    </view>

    <view class="search-display">
       <!-- 热门搜索 -->
      <view class="hot-search">
        <view class="title-text"> 热门搜索 </view>
        <view class="hot-search-tags">
        <text class="tags" @click="handleDme()">四件套</text>
        <text class="tags" @click="handleDme()">新款连衣裙</text>
        <text class="tags" @click="handleDme()">夏装</text>
        <text class="tags" @click="handleDme()">潮流T恤</text>
        </view>
      </view>

      <!-- 搜索历史 -->
      <view class="history-search">
        <view class="title-text history-line">
          搜索历史
          <view class="clear-history">
            <image
              src="@/static/icon/clear-his.png"
              @click="clearSearch"
            ></image>
          </view>
        </view>
        <view
          v-for="(item, index) in searchList"
          :key="index"
          class="his-search-tags"
        >
          <text class="tags" @click="handleDown(item)">{{ item }}</text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
//搜索的数据接入
import { getSearchByShopId} from "@/service/base";
export default {
  data() {
    return {
      prodName: "",
      searchList:uni.getStorageSync("searchList")||[],
      SearchByShop: [],
    }
  },
   onLoad() {
    this.getSearchBy();
  },
  //方法
  methods: {
     //热门搜索 数据
    async getSearchBy() {
      const res = await getSearchByShopId({
        number: 10,
        shopId: 1,
        sort: 1,
      });
      this.SearchByShop = res;
    },
    //搜索框 回车事件
    handleDown(value) {
      if (!this.searchList.includes(value)) {
        this.searchList.push(value);
        uni.setStorageSync("searchList",this.searchList)
      }

      this.$toPage({
        url: "/pages/search/searchpage",
        query: {
          value,
        },
      });
    },
      //热门搜索
    handleDme(){
         this.$toPage({
        url: "/pages/search/searchpage"
      });
    },
   
    //取消
    goBackIndex() {
      uni.navigateBack();
    },
        //清除搜索历史
    clearSearch() {
      this.searchList = [];
      uni.removeStorageSync("searchList")
    },
  },
};
</script>

<style scoped>
/* 搜索栏 */
.search-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #777;
  background: #fff;
  box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
  z-index: 3;
}

.search-bar .search-box {
  position: relative;
  height: 60rpx;
  background: #eee;
  z-index: 999;
  width: 80%;
  margin-left: 70rpx;
  border-radius: 50rpx;
  margin: 20rpx 0 20rpx 20rpx;
}

.sear-input {
  height: 60rpx;
  border-radius: 50rpx;
  border: 0;
  margin: 0 30rpx 0 64rpx;
  line-height: 48rpx;
  vertical-align: top;
  background: #eee;
  font-size: 28rpx;
}

.search-bar .search-hint {
  font-size: 28rpx;
  position: absolute;
  right: 30rpx;
  top: 31rpx;
  color: #eb2444;
}

.search-bar .search-box .search-img {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  left: 20rpx;
  top: 14rpx;
  display: block;
}


/* 热门搜索&搜索历史 */
.search-display {
  background: #fff;
  padding: 20rpx;
  margin-top: 100rpx;
}
.search-display .title-text {
  padding: 30rpx 0;
  font-size: 30rpx;
  color: #666;
}
.hot-search .hot-search-tags {
  overflow: hidden;
  font-size: 26rpx;
  text-align: center;
  padding-bottom: 30rpx;
}
.hot-search .hot-search-tags .tags {
  display: block;
  max-width: 100%;
  overflow: hidden;
  float: left;
  border-radius: 50rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
  padding: 10rpx 30rpx;
}
/* 搜索历史 */

.history-search .title-text.history-line {
  position: relative;
  border-top: 2rpx solid #e1e1e1;
}

.history-search .his-search-tags {
  overflow: hidden;
  font-size: 26rpx;
  text-align: center;
  display: inline-block;
}

.history-search .his-search-tags .tags {
  max-width: 300rpx;
  overflow: hidden;
  float: left;
  border-radius: 50rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
  padding: 10rpx 30rpx;
}

.clear-history image {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  right: 10rpx;
  top: 30rpx;
}
</style>
