<template>
  <view class="content">
    <!-- 顶部搜索 -->
    <view class="bg-sear">
      <view class="scrolltop">
        <view class="section" @click="toDetail()">
          <image src="@/static/icon/search.png" class="search-img"></image>
          <text class="placeholder">搜索</text>
        </view>
      </view>
    </view>
    <scroll-view class="bg">
      <view
        class="nav-item"
        v-for="(item, index) in categoryList"
        @click="change(item.categoryId)"
        :key="index"
      >
        <p
          @click="changeIndex(index)"
          :class="index === active ? 'active' : ''"
        >
          {{ item.categoryName }}
        </p>
      </view>
    </scroll-view>
    <scroll-view class="list" scroll-y="true">
      <view class="adver-map">
        <view class="item-a">
          <img :src="categoryList[active].pic" alt="" style="height: 150rpx" />
        </view>
      </view>
      <!-- 右侧数据 -->
      <view class="cont-item">
        <view
          class="show-item"
          v-for="(item, index) in pordList"
          :key="index"
          @click="goDetail(item.prodId)"
        >
          <view class="more-prod-pic">
            <!-- <img :src="item.pic" alt="" /> -->
            <image
              :src="item.pic"
              class="hotsaleimg"
              v-if="
                item.pic !==
                'https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg'
              "
            />
            <view v-else class="hotsaleimg"></view>
          </view>
          <view class="prod-text-right">
            <p class="prod-text">
              {{ item.prodName }}
            </p>
            <p class="cate-prod-info">{{ item.brief }}</p>
            <p class="prod-price">
              ￥<span class="bg-num">{{ item.price }}</span
              >.00
            </p>
          </view>
        </view>
      </view>
    </scroll-view>
  </view>
</template>

<script>
import { category, prodPage } from "../../service/category";
export default {
  data() {
    return {
      categoryList: [],
      pordList: [],
      active: 0,
      categoryIndex: 85, //点击高亮
    };
  },
  onLoad() {
    this.Category();
    this.PordList();
  },
  // onShow() {
  //   this.changeShopcarCountData();
  // },
  methods: {
    // 左侧数据
    async Category() {
      const res = await category({});
      this.categoryList = res;
      // console.log(res);
    },
    // 右侧数据
    async PordList() {
      const res = await prodPage({
        categoryId: this.categoryIndex,
      });
      this.pordList = res.records;
      //   console.log(res);
      // console.log("pordList---", this.pordList);
    },
    // 点击左侧切换
    change(id) {
      this.categoryIndex = id;
      this.PordList();
    },
    // 点击左侧高亮
    changeIndex(index) {
      this.active = index;
    },
    // 跳转详情
    async goDetail(id) {
      await this.$toPage({
        url: "/pages/detail/index",
        query: {
          id,
        },
      });
    },
    //搜索 跳转详情
    toDetail() {
      this.$toPage({
        url: "/pages/search/index",
        query: {
          id: 9,
        },
      });
    },
  },
};
</script>

<style>
.content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 搜索框样式 */
.title {
  font-size: 36rpx;
  color: #8f8f94;
}
.bg-sear {
  position: fixed;
  z-index: 999;
  width: 100%;
  line-height: 56rpx;
  background: #fff;
  padding-bottom: 20rpx;
  text-align: center;
  top: 0;
}
.bg-sear .section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rpx;
  background: #fff;
  z-index: 1;
  border-radius: 50rpx;
  width: 92%;
  margin: auto;
  left: 4%;
  background: #f7f7f7;
}
.bg-sear .section .search-img {
  width: 32rpx;
  height: 32rpx;
  margin-right: 10rpx;
}
.bg-sear .section .placeholder {
  display: block;
  font-size: 24rpx;
  color: #999;
}
.bg {
  width: 200rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(245, 246, 247);
  margin-top: 66rpx;
  overflow: scroll;
  z-index: 2;
  padding: 3px;
}

.nav-item {
  line-height: 90rpx;
  height: 90rpx;
  text-align: center;
  border-bottom: 2rpx silid #e3e3e3;
  font-size: 28rpx;
  position: relative;
}
.list {
  width: 550rpx;
  margin-top: 66rpx;
  background: #fff;
}
.adver-map {
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 30rpx 20rpx 0;
}
.adver-map .item-a image {
  max-width: 100%;
}
.adver-map .item-a {
  display: block;
  font-size: 0;
  width: 100%;
}
.cont-item {
  width: 550rpx;
  height: 210rpx;
  padding: 0 20rpx 20rpx 20rpx;
}
.show-item {
  display: flex;
  height: 150rpx;
  position: relative;
  justify-content: start;
  padding: 20rpx 0;
  border-bottom: 1px solid rgb(243, 243, 243);
}
.more-prod-pic {
  text-align: center;
  width: 150rpx;
  height: 150rpx;
  line-height: 150rpx;
  font-size: 0;
  background: url("../../static//image.png");
  background-size: 100%;
}
.more-prod-pic .hotsaleimg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8rpx;
  vertical-align: middle;
}
.prod-text-right {
  width: 340rpx;
  height: 150rpx;
  margin-left: 20rpx;
}
.active {
  background-color: #fff;
  border-left: 3px solid red;
  color: red;
  font-weight: bold;
}
.prod-text {
  width: 100%;
  margin: 0;
  font-size: 28rpx;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.cate-prod-info {
  width: 100%;
  font-size: 22rpx;
  color: #999;
  margin: 10rpx 0 20rpx 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.prod-price {
  font-size: 24rpx;
  color: #eb2444;
  font-family: arial;
}
.bg-num {
  font-size: 32rpx;
}
</style>