
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bian{
    width: 100%;
    height: 20rpx;
    margin-left: 300rpx;
  }
  .logo {
    height: 200rpx;
    width: 200rpx;
    margin: 200rpx auto 50rpx auto;
  }
  
  .text-area {
    display: flex;
    justify-content: center;
  }
  /* 搜索框样式 */
  .title {
    font-size: 36rpx;
    color: #8f8f94;
  }
  .bg-sear {
    position: fixed;
    z-index: 999;
    width: 100%;
    line-height: 56rpx;
    background: #fff;
    padding-bottom: 20rpx;
    text-align: center;
    top: 0px;
  }
  .bg-sear .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rpx;
    background: #fff;
    z-index: 1;
    border-radius: 50rpx;
    width: 92%;
    margin: auto;
    left: 4%;
    background: #f7f7f7;
  }
  .bg-sear .section .search-img {
    width: 32rpx;
    height: 32rpx;
    margin-right: 10rpx;
  }
  .bg-sear .section .placeholder {
    display: block;
    font-size: 24rpx;
    color: #999;
  }

  /* 轮播图样式 */
.uni-margin-wrap {
    width: 690rpx;
    margin-top: 75rpx;
    padding: 10rpx 0;
    background: #fff;
    height: 412rpx;
  }
  .swiper {
    height: 350rpx;
  }
  .swiper-item {
    display: block;
    height: 100%;
    line-height: 100%;
    text-align: center;
  }

  /*新品推荐 限时特惠 每日疯抢*/
.cat-item {
    width: 690rpx;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-top: -20rpx;
    padding-top: 10rpx;
    padding-bottom: 30rpx;
  }
  
  .cat-item .item {
    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  
  .cat-item .item image {
    width: 75rpx;
    height: 75rpx;
  }
  
  .cat-item .item text {
    font-size: 26rpx;
    margin-top: 20rpx;
  }
  

  /* 通知 */
.message-play {
    position: relative;
    width: 690rpx;
    height: 90rpx;
    background: #fff;
    margin: auto;
    padding: 0 60rpx 0 100rpx;
    box-sizing: border-box;
    box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
    border: 2rpx solid #fafafa;
  }
  
  .message-play .hornpng {
    width: 77rpx;
    height: 36rpx;
    position: absolute;
    left: 20rpx;
    top: 27rpx;
    margin-right: 8rpx;
  }
  
  .message-play .swiper-cont {
    height: 90rpx;
    line-height: 90rpx;
  }
  
  .message-play .swiper-cont .items {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left;
    font-size: 20rpx;
  }
  
  .arrow {
    width: 15rpx;
    height: 15rpx;
    border-top: 3rpx solid #686868;
    border-right: 3rpx solid #686868;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 34rpx;
  }
  .arrow1{
    width: 15rpx;
    height: 15rpx;
    border-top: 3rpx solid #686868;
    border-right: 3rpx solid #686868;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 34rpx;
  }
  
  
  /* 每日上新 */
.title {
  position: relative;
  height: 64rpx;
  line-height: 64rpx;
  font-size: 32rpx;
  padding: 40rpx 0 10rpx 30rpx;
  color: #333;
  background: #fff;
}
.more {
  position: absolute;
  right: 30rpx;
  top: 48rpx;
  color: #666;
  font-size: 24rpx;
  padding: 0 20rpx;
  height: 44rpx;
  line-height: 44rpx;
}
.arrow {
  top: 58rpx;
  right: 30rpx;
  border-top: 2rpx solid #666;
  border-right: 2rpx solid #666;
}
.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fafafa;
}

.prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  margin: 20rpx 10rpx 10rpx 20rpx;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.prod-items .hot-imagecont {
  font-size: 0;
  text-align: center;
}

.prod-items .hot-imagecont .hotsaleimg {
  width: 341rpx;
  height: 341rpx;
  background-color: #333;
}

.prod-items .hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.prod-items .hot-text .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-info,
.more-prod .prod-text-right .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.small-num {
  font-size: 24rpx;
}
.prod-items .hot-text .prod-text-info .basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}
/* 商品样式 */
.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fff;
}  
.hot-sale  .prod-show{
  background-color: #fff;
}
.hot-sale .prod-items:nth-child(2n-1) {
  margin: 20rpx 10rpx 10rpx 10rpx;
}
.hot-sale .prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  /* border: 2rpx solid #e1e1e1; */
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.prod-items .hotsaleimg img {
  width: 333rpx;
  height: 341rpx;
  background-color: #333;
}
.hotsaleimg  {
  width: 333rpx;
  height: 341rpx;
  background:url("../../static//image.png") ;
  background-size: 100%;
}
.prod-items .hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20rpx;
}
.prod-items .prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prod-items {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 26rpx;
}
.prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
  padding: 0 10px;
}
.price {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
  color: #eb2444;
}
.prod-text-info .big-num {
  font-size: 32rpx;
}
.basket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}
/* 更多宝贝 */
.show-item {
<<<<<<< HEAD
  position: relative;
  display: flex;
  padding: 20rpx;
  justify-content: start;
  border-top: 2rpx solid #f4f4f4;
}
.more-prod-pic {
  width: 250rpx;
  height: 250rpx;
}
.more-pic {
  max-width: 100%;
  max-height: 100%;
}
.prod-text-right {
  margin-left: 30rpx;
  width: 72%;
  padding-bottom: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prod-text {
  margin: 0;
  font-size: 28rpx;
  overflow: hidden;
  margin-bottom: 20rpx;
  display: -webkit-box;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-cart {
  margin-top: 30rpx;
}
=======
    position: relative;
    display: flex;
    padding: 20rpx;
    justify-content: start;
    border-top: 2rpx solid #f4f4f4;
  }
  .more-prod-pic {
    width: 250rpx;
    height: 250rpx;
  }
  .more-pic {
    max-width: 100%;
    max-height: 100%;
  }
  .prod-text-right {
    margin-left: 30rpx;
    width: 72%;
    padding-bottom: 10rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prod-text {
    margin: 0;
    font-size: 28rpx;
    overflow: hidden;
    margin-bottom: 20rpx;
    display: -webkit-box;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .prod-info {
    font-size: 22rpx;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-cart {
    margin-top: 30rpx;
  }

  .empty-list {
    font-size: 24rpx;
    color: #999;
    text-align: center;
    margin: 100rpx 0;
  }
>>>>>>> dev_zh
