/<template>
  <view class="content">

    <view class="header">
      <text>2048</text>
      <a href="javascript:newgame():" id="newgamebutton">New Game</a>
      <view class="p">score:<text id="score">0</text></view>
    </view>

    <view id="grid-container">
      <view class="grid-cell" id="grid-cell-0-0"></view>
      <view class="grid-cell" id="grid-cell-0-1"></view>
      <view class="grid-cell" id="grid-cell-0-2"></view>
      <view class="grid-cell" id="grid-cell-0-3"></view>

      <view class="grid-cell" id="grid-cell-1-0"></view>
      <view class="grid-cell" id="grid-cell-1-1"></view>
      <view class="grid-cell" id="grid-cell-1-2"></view>
      <view class="grid-cell" id="grid-cell-1-3"></view>

      <view class="grid-cell" id="grid-cell-2-0"></view>
      <view class="grid-cell" id="grid-cell-2-1"></view>
      <view class="grid-cell" id="grid-cell-2-2"></view>
      <view class="grid-cell" id="grid-cell-2-3"></view>

      <view class="grid-cell" id="grid-cell-3-0"></view>
      <view class="grid-cell" id="grid-cell-3-1"></view>
      <view class="grid-cell" id="grid-cell-3-2"></view>
      <view class="grid-cell" id="grid-cell-3-3"></view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      score: 0,
    };
  },

  mounted() {
    this.board();
  },

  methods: {
    board() {
      const board = new Array();
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  text-align: center;
  text {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin-top: 55px;
  }
  #newgamebutton {
    display: block;
    margin: 10px 10px;
    background-color: #8f7a66;
    font-family: Arial;
    color: white;
    text-decoration: none;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    border-radius: 10px;
  }
  #newgamebutton:hover {
    background-color: #9f8b77;
  }
  .p {
    font-family: Arial;
    font-size: 25px;
    margin: 20px auto;
  }
}

#grid-container {
  width: 100%;
  height: 460px;
  padding: 20px;

  margin: 50px auto;
  background-color: #bbada0;

  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.grid-cell {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  background-color: #ccc0b3;
}
</style>