<template>
    <view class="content">
    <view class="recent-news">
      <view
        v-for="(item, index) in noticeList"
        :key="index"
        @click="toinformdetail(item.id)"
      >
        <view class="news-item">
          <view class="news-item-title">{{ item.title }}</view>
          <view class="news-item-date">{{ item.title }}</view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import {notice} from "@/service/base"
export default {
  //数据
  data() {
    return {
      noticeList: [],
    };
  },
  onLoad() {
    this.Notice();
  },
  //方法
  methods: {
    //获取数据 传入定义的数组
     async Notice() {
      const res = await notice({});
      this.noticeList = res.records;
    },
    //跳转详情页面 
    toinformdetail(id) {
      this.$toPage({
        url: "/pages/informDel/index",
        query: { id },
      });
    },
  },
}
</script>

<style scoped>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
.recent-news .news-item {
  padding: 20rpx 20rpx 0 20rpx;
  position: relative;
}

.recent-news .news-item::after {
  content: " ";
  width: 100%;
  height: 2rpx;
  background-color: #e1e1e1;
  left: 20rpx;
  display: block;
  position: absolute;
}

.recent-news .news-item .news-item-title {
  font-size: 28rpx;
  text-align: left;
}

.recent-news .news-item .news-item-date {
  font-size: 24rpx;
  color: #999;
  text-align: right;
  margin-top: 10rpx;
  margin-bottom: 20rpx;
}
</style>