<template>
  <view class="content">
    <!-- 登录 授权 -->
    <view class="content_login">
      <view class="content_login_top">
        <view>
          <u-avatar :src="userList.avatarUrl" mode="square" show-sex show-level class="img"></u-avatar>
          <text>{{ userList.nickName }}</text>
        </view>
      </view>
      <view class="content_login_buttom">
        <text>绑定手机可查订单和领取优惠券,</text>
        <text>去绑定</text>
        <text v-if="show" @click="getUserInfo">授权/登录</text>
      </view>
    </view>

    <!-- 订单 -->
    <view class="content_Order">
      <view class="content_Order_top">
        <text>我的订单</text>
        <text>查看全部/></text>
      </view>
      <view class="content_Order_buttom">
        <view class="content_Order_buttom_view">
          <view>
            <img src="../../static/icon/toPay.png" alt="" />
          </view>
          <view>待支付</view>
        </view>
        <view class="content_Order_buttom_view">
          <view>
            <img src="../../static/icon/toDelivery.png" alt="" />
          </view>
          <view>待发货</view>
        </view>
        <view class="content_Order_buttom_view" @click="list">
          <view>
            <img src="../../static/icon/toTake.png" alt="" />
          </view>
          <view>待收货</view>
        </view>
        <view class="content_Order_buttom_view">
          <view>
            <img src="../../static/icon/toComment.png" alt="" />
          </view>
          <view>已完成</view>
        </view>
      </view>
    </view>

    <!-- 杂 -->
    <view class="content_za">
      <view class="view" @click="collect">
        <view>
          <!-- 收藏多少内容 -->
          <text>0</text>
        </view>
        <view>我的收藏</view>
      </view>
      <view class="view" @click="message">
        <view>
          <!-- 回复多少消息 -->
          <text>5</text>
        </view>
        <view>我的消息</view>
      </view>
      <view class="view" @click="footprint">
        <view>
          <!-- 去过哪些店铺的次数 -->
          <text>3</text>
        </view>
        <view>我的足迹</view>
      </view>
      <view class="view" @click="tagral">
        <view>
          <!-- 去过哪些店铺的次数 -->
          <text>6</text>
        </view>
        <view>我的积分</view>
      </view>
    </view>

    <!-- 地址等... -->
    <view class="content_city">
      <view class="content_city_Jump">
        <view>
          <img src="../../static/icon/promotion.png" alt="" />
          <span>分销中心</span>
        </view>
        <view>
          <text>/></text>
        </view>
      </view>
      <view class="content_city_Jump">
        <view>
          <img src="../../static/icon/getCoupon.png" alt="" />
          <span>领卷中心</span>
        </view>
        <view>
          <text>/></text>
        </view>
      </view>
      <view class="content_city_Jump">
        <view>
          <img src="../../static/icon/myCoupon.png" alt="" />
          <span>我的优惠券</span>
        </view>
        <view>
          <text>/></text>
        </view>
      </view>
      <view class="content_city_Jump" @click="address">
        <view>
          <img src="../../static/icon/111.png" alt="" />
          <span>收货地址</span>
        </view>
        <view>
          <text>/></text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
// 解构拿到我们调用到的修改数据的接口
import { save_user_info, _login } from "@/service/index";
export default {
  data() {
    return {
      show: true,
      // userList 用于渲染授权成功后的头像...
      userList: {},
      showA:!true
    };
  },
  async onLoad() {
    await this.login();
  },
  onShow() {},
  mounted() {},
  methods: {
    // 权限信息
    async login() {
      // const token = uni.getStorageSync("token");
      // if (!token) {
      //   // 授权提示用户
      //   this.show = true;

      // } else {
      //   // 有token的话就不需要授权
      //   this.show = false;
      // }
      const [, { code }] = await uni.login();
      // 根据code发起请求
      const result = await _login({
        principal: code,
      });
      console.log(result.access_token);
      // 存到本地存储
      uni.setStorageSync("token", result.access_token);
    },

    async getUserInfo() {
      const that = this;
      uni.getUserProfile({
        desc: "获取用户信息授权",
        async success(res) {
          const { avatarUrl, nickName } = await res.userInfo;
          // 设置  用户信息
          const result = await save_user_info({
            avatarUrl,
            nickName,
          });
          if (result.statusCode === 200) {
            that.show = false;
            that.userList = {
              avatarUrl,
              nickName,
            };
          } else {
            that.show = true;
          }
        },
        fail(err) {
          console.log(err);
        },
      });
    },

    // 点击收货地址的时候跳转页面
    address() {
      uni.navigateTo({ url: "/pages/address/address" });
    },

    // 点击待收货
    list() {
      uni.navigateTo({ url: "/pages/Orderlist/list" });
    },

    // 我的收藏
    collect() {
      uni.navigateTo({ url: "/pages/Collection/Collection" });
    },


    // 我的消息
    message() {
      uni.navigateTo({ url: "/pages/message/message" });
    },


    // 我的足迹
    footprint() {
      uni.navigateTo({ url: "/pages/footprint/footprint" });
    },


    // 我的积分
    tagral() {
      uni.navigateTo({ url: "/pages/tagral/tagral" });
    },
  },
};
</script>

<style scoped>
.content {
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
}

/* 授权 */
.content_login {
  width: 100%;
  height: 180px;
  background: #ffffff;
}

.content_login_top {
  width: 100%;
  height: 140px;
  /* background: red; */
}

.content_login_top view {
  width: 50%;
  height: 100%;
  /* background: red; */
  margin: 0 auto;
  position: relative;
}
.content_login_top view .img {
  /* width: 50px;
  height: 50px;
  border-radius: 50px; */
  /* box-shadow: 2px 2px 5px 0 #ccc; */
  position: absolute;
  top: 35px;
  left: 75px;
}
.content_login_top view text {
  position: absolute;
  top: 90px;
  left: 75px;
}
.content_login_buttom {
  width: 100%;
  height: 40px;
  line-height: 40px;
  /* background: yellow; */
}

.content_login_buttom text {
  margin-left: 8px;
  font-weight: 300;
}

.content_login_buttom text:nth-child(2) {
  font-weight: 600;
  color: #e23d43;
  font-style: 14px;
}

/* .content_login_buttom text:nth-child(3) {
  font-weight: 600;
  font-style: 14px;
} */

/* 订单 */
.content_Order {
  width: 100%;
  height: 120px;
  background: #ffffff;
  margin-top: 10px;
}

.content_Order_top {
  width: 100%;
  height: 35px;
  /* background: red; */
  line-height: 35px;
  border-bottom: 0.5px solid #ccc;
}

.content_Order_top text:nth-child(1) {
  margin-left: 8px;
  font-weight: 600;
}

.content_Order_top text:nth-child(2) {
  margin-left: 230px;
  font-weight: 300;
  font-size: 13px;
}

.content_Order_buttom {
  width: 100%;
  height: 85px;
  display: flex;
}
.content_Order_buttom_view {
  width: 25%;
  height: 100%;
  /* background: red; */
  text-align: center;
}
.content_Order_buttom_view img {
  width: 35px;
  height: 40px;
  margin-top: 15px;
}
.content_Order_buttom_view view:nth-child(2) {
  font-weight: 300;
}

/* 收藏 消息 足迹 */
.content_za {
  width: 100%;
  height: 100px;
  background: #ffffff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content_za .view {
  width: 22.22%;
  height: 88px;
  text-align: center;
  line-height: 44px;
  font-weight: 300;
  /* background: red; */
}
.content_za .view view:nth-child(1) text{
  font-size: 18px;
  font-weight: 550;
  color: #4887bd;
}
.content_city {
  width: 100%;
  height: 210px;
  background: #ffffff;
  margin-top: 10px;
}

.content_city .content_city_Jump {
  width: 100%;
  height: 25%;
  border-bottom: 0.1px solid rgb(235, 235, 235);
  display: flex;
  position: relative;
}

.content_city_Jump view {
  width: 50%;
  height: 100%;
}

.content_city_Jump view text {
  line-height: 50px;
  margin-left: 160px;
  font-weight: 300;
}

.content_city_Jump span {
  margin-left: 36px;
  line-height: 50px;
}

.content_city_Jump img {
  width: 25px;
  height: 24px;
  /* margin-top: 20px; */
  position: absolute;
  top: 13px;
  left: 8px;
}
</style>