<<<<<<< HEAD
<template>
 <view class="container">
    直播
=======

<template>
  <view class="wrap">
    <u-button @click="clear">清空列表</u-button>
    <u-waterfall v-model="flowList" ref="uWaterfall">
      <template v-slot:left="{ leftList }">
        <view
          class="demo-warter"
          v-for="(item, index) in leftList"
          :key="index"
          @click="golivesRoom(item.roomid)"
        >
          <!-- 警告：微信小程序中需要hx2.8.11版本才支持在template中结合其他组件，比如下方的lazy-load组件 -->
          <u-lazy-load
            threshold="-450"
            border-radius="10"
            :image="item.cover_img"
            :index="index"
          ></u-lazy-load>
          <view class="demo-title"> 开播:{{ item.end_time }} </view>
          <view class="demo-price"> 内容:{{ item.name }} </view>
          <view class="demo-tag">
            <view class="demo-tag-owner"> 自营 </view>
            <view class="demo-tag-text"> 放心购 </view>
          </view>
          <view class="demo-shop"> 主播:{{ item.anchor_name }} </view>
          <u-icon
            name="close-circle-fill"
            color="#fa3534"
            size="34"
            class="u-close"
            @click="remove(item.id)"
          ></u-icon>
        </view>
      </template>
      <template v-slot:right="{ rightList }">
        <view
          class="demo-warter"
          v-for="(item, index) in rightList"
          :key="index"
          @click="golivesRoom(item.roomid)"
        >
          <u-lazy-load
            threshold="-450"
            border-radius="10"
            :image="item.cover_img"
            :index="index"
          ></u-lazy-load>
          <view class="demo-title"> 开播:{{ item.end_time }} </view>
          <view class="demo-price"> {{ item.name }} </view>
          <view class="demo-tag">
            <view class="demo-tag-owner"> 自营 </view>
            <view class="demo-tag-text"> 放心购 </view>
          </view>
          <view class="demo-shop"> 主播:{{ item.anchor_name }} </view>
          <u-icon
            name="close-circle-fill"
            color="#fa3534"
            size="34"
            class="u-close"
            @click="remove(item.id)"
          ></u-icon>
        </view>
      </template>
    </u-waterfall>
    <u-loadmore
      bg-color="rgb(240, 240, 240)"
      :status="loadStatus"
      @loadmore="addRandomData"
    ></u-loadmore>
>>>>>>> dev_zh
  </view>
</template>

<script>
export default {
<<<<<<< HEAD
 
}
=======
  data() {
    return {
      loadStatus: "loadmore",
      flowList: [],
      roomList: [],
    };
  },
  async onLoad() {
    await this.addRandomData();
  },
  onReachBottom() {
    this.loadStatus = "loading";
    // 模拟数据加载
    setTimeout(() => {
      this.addRandomData();
      this.loadStatus = "loadmore";
    }, 1000);
  },
  methods: {
    async addRandomData() {
      try {
        const cloud = await this.$cloud;
        const { result } = await cloud.callFunction({
          name: "liveroom", //云函数的命名
        });
        this.roomList = result.body.room_info;
        console.log(this.roomList);
      } catch (error) {
        console.error(error);
      }
      for (let i = 0; i < 10; i++) {
        let index = this.$u.random(0, this.roomList.length - 1);
        // 先转成字符串再转成对象，避免数组对象引用导致数据混乱
        let item = JSON.parse(JSON.stringify(this.roomList[index]));
        item.id = this.$u.guid();
        this.flowList.push(item);
      }
    },
    remove(id) {
      this.$refs.uWaterfall.remove(id);
    },
    clear() {
      this.$refs.uWaterfall.clear();
    },

    // 点击每一项跳转直播间
    golivesRoom(roomId) {
      let customParams = encodeURIComponent(
        JSON.stringify({ path: "pages/liveShop/index", pid: 1 })
      ); // 开发者在直播间页面路径上携带自定义参数（如示例中的 path 和pid参数），后续可以在分享卡片链接和跳转至商详页时获取，详见【获取自定义参数】、【直播间到商详页面携带参数】章节（上限600个字符，超过部分会被截断）
      wx.navigateTo({
        url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomId}&custom_params=${customParams}`,
      });
    },
  },
};
>>>>>>> dev_zh
</script>

<style>
/* page不能写带scope的style标签中，否则无效 */
page {
  background-color: rgb(240, 240, 240);
}
</style>

<style lang="scss" scoped>
.demo-warter {
  border-radius: 8px;
  margin: 5px;
  background-color: #ffffff;
  padding: 8px;
  position: relative;
}

.u-close {
  position: absolute;
  top: 32rpx;
  right: 32rpx;
}

.demo-image {
  width: 100%;
  border-radius: 4px;
}

.demo-title {
  font-size: 30rpx;
  margin-top: 5px;
  color: $u-main-color;
}

.demo-tag {
  display: flex;
  margin-top: 5px;
}

.demo-tag-owner {
  background-color: $u-type-error;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 4rpx 14rpx;
  border-radius: 50rpx;
  font-size: 20rpx;
  line-height: 1;
}

.demo-tag-text {
  border: 1px solid $u-type-primary;
  color: $u-type-primary;
  margin-left: 10px;
  border-radius: 50rpx;
  line-height: 1;
  padding: 4rpx 14rpx;
  display: flex;
  align-items: center;
  border-radius: 50rpx;
  font-size: 20rpx;
}

.demo-price {
  font-size: 30rpx;
  color: $u-type-error;
  margin-top: 5px;
}

.demo-shop {
  font-size: 22rpx;
  color: $u-tips-color;
  margin-top: 5px;
}
.temp{
  position: relative;
}
.end:before {
		content: "直播已结束";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>