<template>
  <view class="placeOrders">
    <view> </view>
    <!-- 商品列表 -->
    <view class="conent_place">
      <dl v-for="item in subListData" :key="item.basketId" class="ShopCarItems">
        <dt class="dtt">
          <image class="imgs" :src="item.pic" />
        </dt>
        <dd>
          <p class="prod-name">{{ item.prodName }}</p>
          <p class="prod-info-text">{{ item.skuName }}</p>
          <view class="large-box">
            <view class="price">
              <text class="symbol">￥ {{ item.price }}.00</text>
            </view>
            <view class="Goodsnumber">X{{ item.prodCount }}</view>
          </view>
        </dd>
      </dl>
      <view class="gong">
        <view class="gong_right">
         <text> 共{{ totalCount }}件商品，合计： </text>
        <text class="right_color"> ￥ {{ total }} </text>
        </view>
       
      </view>
      <view> </view>
    </view>
    <!-- 优惠券 -->
    <view class="order_msg">
      <view>
        <view @click="showCab" class="msg_item">
          <text>优惠券：{{ distributionCardno.length > 0 ? "有优惠券" : "暂无可用" }}
          </text>
          <text>{{distributionCardno.length}} 张 ></text>
        </view>
        <view class="item">
          <text>买家留言：</text>
          <input :value="remarks" placeholder="给卖家留言" type="text"  @change="onRemarksInput"/>
        </view>
      </view>
    </view>
    <view class="order_msgs">
      <view class="order_msg_item">
        <view class="msg_item">
          <text>订单总额：</text>
          <view class="right_color"> ￥ {{ actualTotal }} </view>
        </view>
        <view class="msg_item">
          <text> 运费： </text>
          <view class="right_color">￥ {{ transfee }} </view>
        </view>
        <view class="msg_item">
          <text>优惠金额：</text>
          <view class="right_color"> -￥{{ shareReduce }} </view>
        </view>
        <view class="msg_item">
          <text>小计：</text>
          <view class="right_color"> ￥{{ total }}</view>
        </view>
         <view class="di"></view>
      </view>
     
    </view>
    <!-- 底部 -->
    <view class="floor-place">
      <view>
        合计：<text class="textMoney">￥ {{ total }}</text>
      </view>
      <view class="buts">结算</view>
    </view>
  </view>
</template>

<script>
import { postOrderList, postSubmit, postPay } from "../../service/placeOrder";
export default {
  data() {
    return {
      orderList: [],
      subListData: [],
      distributionCardno: [], //优惠券
      totalCount: 0, //总共多少件
      total: 0, //总价
      addr: {},
      addrId: 0,
      prodId: 0,
      skuId: 0,
      prodCount: 0,
      shopId: 0,
      finalMoney: 0,
      isShow: false,
      remarks: "",
      actualTotal: 0,
      transfee: 0,
      shareReduce: 0,
      orderNumders: "",
    };
  },
  onLoad(options) {
    if (options.type === "goodsDetails") {
      this.addrId = options.addrId || this.addrId;
      this.prodId = options.prodId;
      this.skuId = options.skuId;
      this.prodCount = options.prodCount;
      this.shopId = options.shopId;
      this.detalData();
    } else {
      this.orderList = options.id.split(",");
      this.addrId = options.addrId || this.addrId;
      this.orderData();
    }
    this.submitOrder();
  },
  methods: {
    async detalData() {//直接购买
      const res = await postOrderList({
        addrId: this.addrId,
        orderItem: {
          prodId: this.prodId,
          skuId: this.skuId,
          prodCount: this.prodCount,
          shopId: this.shopId,
        },
        couponIds: [],
        userChangCoupon: 1,
      });
      //  console.log(res,"res");
      this.subListData =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
      //  console.log(this.subListData,"this.subListData");
       this.subListData.forEach((item) => {
        if (item.distributionCardno !== null) {
          this.distributionCardno.push(item.distributionCardno);
        }
      });
      this.addrId = res.addrId;
      this.total = res.total;//总价
      this.totalCount = res.totalCount;//需要结算商品的数量
      this.actualTotal = res.shopCartOrders[0].actualTotal;
      this.transfee = res.shopCartOrders[0].transfee;
      this.shareReduce = res.shopCartOrders[0].shopReduce;
    },
    async orderData() {//购物车
      const res = await postOrderList({
        addrId: this.addrId,
        basketIds: this.orderList,
        couponIds: [],
        userChangCoupon: 1,
      });
      //  console.log(res,"res");
      this.subListData =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;

      this.subListData.forEach((item) => {
        if (item.distributionCardno !== null) {
          this.distributionCardno.push(item.distributionCardno);
        }
      });
      this.addrId = res.addrId;
      this.total = res.total;//总价
      this.totalCount = res.totalCount;//需要结算商品的数量
      this.actualTotal = res.shopCartOrders[0].actualTotal;
      this.transfee = res.shopCartOrders[0].transfee;
      this.shareReduce = res.shopCartOrders[0].shareReduce;
      // console.log(this.shareReduce,'this.shareReduce');
    },
    async submitOrder() {},
    //买家留言
    onRemarksInput() {
      console.log("留言");
    },
    showCab() {
      this.isShow = !this.isShow;
    },
  },
};
</script>

<style>
.placeOrders {
  background: #f8f8f8;
}
.floor-place {
  width: 100%;
  height: 80rpx;
  border-top: 1px #ccc solid;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.di{
   width: 100%;
  height: 80rpx;
  background: #fff;
}
.symbol{color: #f00;}
.buts {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #f00;
}
.textMoney {
  color: #f00;
}
.conent_place {
  width: 100%;
}
.ShopCarItems {
  width: 100%;
  background: #fff;
  height: 100px;
  border-top: 1px #ccc solid;
}
.ShopCarItems dt {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.conent_place dl dt {
  margin-top: 5px;
}
.conent_place dl dd {
  margin-top: 5px;
}
.Goodsnumber {
  color: #ccc;
}
.imgs {
  width: 80px;
  height: 80px;
}
/* .large-box{width: 100%;display: flex;justify-content: space-between;} */
.gong {
  width: 100%;
  height: 30px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.gong_right{
  position: absolute;
  right: 10px;
}
.msg_item {
  width: 100%;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  width: 100%;
  height: 30px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.right_color {
  color: #f00;
}
.order_msgs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.order_msg_item {
  width: 95%;
}
</style>