<template>
  <view>
    <u-notice-bar mode="horizontal" :list="listL"></u-notice-bar>
    <u-tabs
      :list="list"
      :is-scroll="false"
      :current="current"
      @change="change"
    ></u-tabs>
    <view v-if="current == 0">全部</view>
    <view v-if="current == 1">待收货</view>
    <view v-if="current == 2">代付款</view>
    <view v-if="current == 3">待评价</view>
  </view>
</template>


<script>
export default {
  data() {
    return {
      list: [
        {
          name: "全部",
        },
        {
          name: "待收货",
        },
        {
          name: "待付款",
        },
        {
          name: "待评价",
          // count: 5,
        },
      ],
      current: 1,
      listL: [
					'寒雨连江夜入吴',
					'平明送客楚山孤',
					'洛阳亲友如相问',
					'一片冰心在玉壶'
				]
    };
  },
  methods: {
    change(index) {
      this.current = index;
    },
  },
};
</script>

<style>
</style>