/<template>
  <view class="content">
    <view class="content_holder">
      <text>收货人</text>
      <input type="text" placeholder="姓名" maxlength="15" v-model="Params.receiver"/>
    </view>

    <view class="content_holder">
      <text>手机号码</text>
      <input type="text" placeholder="11位手机号码" maxlength="15" v-model="Params.mobile" />
    </view>

    <view class="btn_box">
      <button @click="Isadd">保存收货地址</button>
    </view>
  </view>
</template>




<script>
import { requesAdd } from "../../service/goods";

export default {
  data() {
    return {
      // 定义接口里面的数据
      Params: {
        addr: "",
        addrId: 0,
        area: "东城区",
        areaId: 110101000000,
        city: "市辖区",
        cityId: 110100000000,
        mobile: "",
        province: "北京市",
        provinceId: 110000000000,
        receiver: "",
      },
    };
  },
  onLoad() {},
  mounted() {},
  methods: {

    // 点击保存的时候执行的方法
   async Isadd() {
      // 定义一个11位手机号
      let reg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
      if (this.Params.receiver === "") {
        uni.showToast({
          title: "姓名不能为空",
          icon: "none",
        });
        return;
      }
      if (!reg.test(this.Params.mobile)) {
        uni.showToast({
          title: "请输入正确的手机号",
          icon: "none",
        });
        return;
      }
      const result = await requesAdd(this.Params);
      console.log(result);
    },



  },
};
</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 31rpx;
}
.content_holder {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1rpx double #ccc;
}
input {
  width: 70%;
  height: 30px;
  padding: 0 20rpx;
  color: #000;
}

.btn_box {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  button {
    width: 70%;
    height: 45px;
    border-radius: 50px;
    color: #fff;
    background: #eb2444;
  }
}
</style>